@import "reset_style.scss";
@import "base/func";
@import "fonts/font";


@import "../css/bootstrap.min.css";
//@import "libs/slick-theme.scss";
@import "libs/slick.scss";

@import "components/header";
@import "components/footer";

video{
    border-radius: 24px;
}
iframe{
    border-radius: 24px;
}

.ytp-large-play-button-red-bg .ytp-large-play-button-bg{
    fill:aqua !important;
}