.modal-win{
    background-color: rgb(160, 187, 236);
}
.callForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.callForm legend{
text-align: center;
text-transform: uppercase;
color: white;
margin: 12px;
}
.callForm input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    border: none;
    background-color:rgb(230, 230, 17);
}
.callForm input::placeholder,
.callForm textarea::placeholder{
    color: rgb(255, 255, 255);
}
.callForm input:disabled{
    background-color: rgb(126, 126, 126);
}
.callForm label{
    cursor: pointer;
}
.callForm textarea{
    min-width: 100%;
    margin-bottom: 12px;
    border-radius: 8px;
    padding: 12px;
    background-color:rgb(230, 230, 17);

}
.callForm select{
    margin-bottom: 12px;
}