:root{

    --primary-color: #281A08;
    --secondary-color: #B79F84;
    --main-bg-color: #fff;

    /*font family for site*/
    --primary-font: 'Montserrat';
    --secondary-font: 'Marck Script';
    /*font family for site*/
}